---
layout: base
---
<h1 class="text-center">Comms Black</h1>
<h2 class="text-center">Silence is golden.</h2>
<p class="text-center">But we're not Golden. We're better than that.</p>
<hr>
<h3 class="text-center">What we're about</h3>
<div class="row">
    <div class="col">
        <img src="{{ 'assets/img/Titan-01.jpg' | relative_url }}" class="feature-image" />
    </div>
    <div class="col">
        <h4 class="text-left">PVP</h4>
        <p>We're always on the lookout for somewhere to fight. Currently members of Pandemic horde, there's plenty of action available to us!</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4 class="text-right">Industry</h4>
        <p class="text-right">While most people don't find it the most exciting part of the game, those in the know recognise it for the essential service it is, and see where the real fun is. </p>
        <p class="text-right">All industrialists and trade enthusiasts welcome!</p>
    </div>
    <div class="col">
        <img src="{{ 'assets/img/Mining-01.jpg' | relative_url }}" class="feature-image" />
    </div>
</div>
<div class="row">
    <div class="col">
        <img src="{{ 'assets/img/PVE-01.jpg' | relative_url }}" class="feature-image" />
    </div>
    <div class="col">
        <h4 class="text-left">PVE</h4>
        <p>You need ISK? I need ISK. We all need ISK. We welcome those looking for a nice safe place to rat, just as much as the next person. After all, those fancy PVP ships aren't gonna pay for themselves!</p>
    </div>
</div>
<hr>
<h4 class="text-center">What are you waiting for?</h4>
<p class="text-center"><a href="/contact">Get in contact</a> today!</p>